---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for sida in collections.all %}
{%- if sida.url and not sida.data.uteslutUrSitemap %}
  <url><loc>{{ meta.basurl }}{{ sida.url | url }}</loc></url>
{%- endif %}
{%- endfor %}
</urlset>
